[core]
	editor = vim
[user]
	email = madangel1215@gmail.com
	name = madangel1215
	mail = madangel1215@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[safe]
	directory = *
